@using Kendo.Mvc.UI;
@model Marketing.Business.Models.Category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendo/kendo.blueopal.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<style>
    .field-validation-error {
        color: red;
    }

    .navigation {
        height: 100px;
    }

</style>

<div class="col-md-10" style="border:none">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ImagePath)
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group">
            @(Html.Kendo().Upload()
                .Name("attachments")
                .Async(async => async
                    .Save("SaveImage", "Category")
                    .Remove("RemoveImage", "Category")
                    .AutoUpload(true)
                )
                .Events(events => events
                    .Success("onSuccess")
                    )
                .Multiple(false)
            )
            @Html.ValidationMessageFor(model => model.ImageId)
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.IsFeatured)
           Is Featured
            @Html.ValidationMessageFor(model => model.IsFeatured)
        
            @Html.CheckBoxFor(m => m.ShowOnHomePage)
           Show On Home
            @Html.ValidationMessageFor(model => model.ShowOnHomePage)
        
            @Html.CheckBoxFor(m => m.IncludeInTopMenu)
            Include In Menu
            @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
        
           @Html.CheckBoxFor(m => m.Published)
            Published
            @Html.ValidationMessageFor(model => model.Published)
       
           @Html.CheckBoxFor(m => m.IsActive)
            Is Active
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        
        if (Model.type == "Category")
        {
            @Html.HiddenFor(m => m.ParentCategoryId)
        }
        else
        {
            <div class="form-group">
                Parent Category
                @Html.Kendo().DropDownListFor(m => m.ParentCategoryId).DataTextField("Text").DataValueField("Value").OptionLabel("Select Category").BindTo(Model.SubCategories).HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParentCategoryId)
            </div>
      
    
        }
    
        <p>
            <input type="submit" class="btn btn-warning" value="Create" />
        </p>
    }
    <div>
        @Html.ActionLink("Back To Categories", "Categories", "Home")
    </div>
</div>
<script>
    function onSuccess(e) {
        document.getElementById('ImagePath').value = e.files[0].name;
    }
</script>
