@model Marketing.Business.Models.Category

@{
    ViewBag.Title = "Update Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="col-md-10" style="border:none;">
    @using (Html.BeginForm("Save", "Category", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name)

            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Category Name" })
            @Html.ValidationMessageFor(model => model.Name)

            @Html.LabelFor(model => model.Description)

            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Category Description" })
            @Html.ValidationMessageFor(model => model.Description)

           
        </div>

     <div class="form-group">
        @Html.LabelFor(model => model.CreatedBy)

        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", placeholder = "Created By" })
        @Html.ValidationMessageFor(model => model.CreatedBy)

      
    </div>
         <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy)
       
            @Html.TextBoxFor(model => model.ModifiedBy, new { @class = "form-control", placeholder = "Modified By" })
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFeatured)
       
            @Html.EditorFor(model => model.IsFeatured)
            @Html.ValidationMessageFor(model => model.IsFeatured)
       
            @Html.LabelFor(model => model.ShowOnHomePage)
        
            @Html.EditorFor(model => model.ShowOnHomePage)
            @Html.ValidationMessageFor(model => model.ShowOnHomePage)
       
            @Html.LabelFor(model => model.IncludeInTopMenu)
       
            @Html.EditorFor(model => model.IncludeInTopMenu)
            @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
        
            @Html.LabelFor(model => model.Published)
       
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
       
            @Html.LabelFor(model => model.Deleted)
      
            @Html.EditorFor(model => model.Deleted)
            @Html.ValidationMessageFor(model => model.Deleted)

            @Html.LabelFor(model => model.IsActive)

            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        
    <div class="form-group">

        @Html.LabelFor(model => model.Modified)

        @Html.EditorFor(model => model.Modified)
        @Html.ValidationMessageFor(model => model.Modified)

        @Html.LabelFor(model => model.Created)

        @Html.EditorFor(model => model.Created)
        @Html.ValidationMessageFor(model => model.Created)
    </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.PictureId)
       
            @Html.EditorFor(model => model.PictureId)
            @Html.ValidationMessageFor(model => model.PictureId)
        
            @Html.LabelFor(model => model.ParentCategoryId)
        
            @Html.EditorFor(model => model.ParentCategoryId)
            @Html.ValidationMessageFor(model => model.ParentCategoryId)
        </div>
        
          <div class="form-group">
            @Html.LabelFor(model => model.WebSiteId)
        
            @Html.EditorFor(model => model.WebSiteId)
            @Html.ValidationMessageFor(model => model.WebSiteId)
       
            @Html.LabelFor(model => model.MyProperty)
      
            @Html.EditorFor(model => model.MyProperty)
            @Html.ValidationMessageFor(model => model.MyProperty)
        
            
        </div>

        <p>
            <input type="submit" class="btn btn-warning" value="Create" />
             
        </p>

    }

    <div>
        @Html.ActionLink("Back To Categories", "Categories", "Home")
    </div>
</div>
