@using Kendo.Mvc.UI;
@model Marketing.Business.Models.Coupon

@{
    ViewBag.Title = "Coupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendo/kendo.blueopal.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<style>
    .field-validation-error {
        color: red;
    }

    .navigation {
        height: 100px;
    }
</style>
<div class="col-md-10" style="border:none;">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ImagePath)
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.ShortDescription, new { @class = "form-control", placeholder = "Short Description" })
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.FullDescription, new { @class = "form-control", placeholder = "Full Description" })
            @Html.ValidationMessageFor(model => model.FullDescription)
        </div>
        <div class="form-group">
            @(Html.Kendo().Upload()
                .Name("attachments")
                .Async(async => async
                    .Save("SaveImage", "Category")
                    .Remove("RemoveImage", "Category")
                    .AutoUpload(true)
                )
                .Events(events => events
                    .Success("onSuccess")
                    )
                .Multiple(false)
            )
            @Html.ValidationMessageFor(model => model.ImageId)
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.IsFeatured)
            <b>Featured</b>
            <br>
            @Html.ValidationMessageFor(model => model.IsFeatured)
            @Html.CheckBoxFor(m => m.ShowOnHomePage)
            <b>Show On Home</b>
            <br>
            @Html.ValidationMessageFor(model => model.ShowOnHomePage)
            @Html.CheckBoxFor(m => m.IncludeInTopMenu)
            <b>Include In Menu</b>
            <br>
            @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
            @Html.CheckBoxFor(m => m.Published)
            <b>Published</b>
            <br>
            @Html.ValidationMessageFor(model => model.Published)
            @Html.CheckBoxFor(m => m.IsActive)
            <b>Active</b>
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <div class="form-group">
            Category
            @Html.Kendo().DropDownListFor(m => m.CategoryId).DataTextField("Text").DataValueField("Value").OptionLabel("Select Category").BindTo(Model.Categories).HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId)

            Store
            @Html.Kendo().DropDownListFor(m => m.StoreId).DataTextField("Text").DataValueField("Value").OptionLabel("Select Store").BindTo(Model.Stores).HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StoreId)
        </div>
        <p>
            <input type="submit" class="btn btn-warning" value="Create" />
        </p>
    }
    <div>
        @Html.ActionLink("Back To Coupons", "Coupon", "Home")
    </div>
</div>
<script>
    function onSuccess(e) {
        document.getElementById('ImagePath').value = e.files[0].name;
    }
</script>