<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@{
    var model = ViewBag.HeaderMenu != null ? ViewBag.HeaderMenu : new Marketing.Models.HeaderMenu();
}
<div class="navigation">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        @if (Session["IsAdmin"] != null)
        {
            <div style=" text-align: center;padding: 10px 10px 10px 10px;background-color: darkgray;"><a href="/Administrator" style="color: white; font-size: 17px;text-decoration:none">Administrator</a></div>
        }
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="~/img/logo.jpg" alt="logo" class="img-responsive" style="max-width: 191px;margin-top: -10px;" /></a>
            </div>
            <style>
                .mega-dropdown-menu {
                    padding: 20px 0px;
                    width: 100%;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
            </style>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            @foreach (var item in model.Categories)
                            {
                                <li class="dropdown-menu">@Html.ActionLink((string)item.Name, "Edit", "Category", new { Id = item.Id, type = "Category" }, null)</li>
                                <li class="divider"></li>
                            }
                            @if (Session["IsAdmin"] != null)
                            {
                                <li>@Html.ActionLink("Add New Category", "Edit", "Category", new { Id = 0, type = "Category" }, new { type = "Category" })</li>
                                <li>@Html.ActionLink("Add New Sub Category", "Edit", "Category", new { Id = 0, type = "SubCategory" }, new { type = "SubCategory" })</li>
                            }
                            <li>@Html.ActionLink("Add New Category", "Edit", "Category", new { Id = 0, type = "Category" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Add New Sub Category", "Edit", "Category", new { Id = 0, type = "SubCategory" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("View All Categories", "Categories", "Home")</li>
                        </ul>

                    </li>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stores <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in model.Stores)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                            @*@if (Session["IsAdmin"] != null)
                                {
                                    <li>@Html.ActionLink("Add New Store", "Edit", "Store")</li>
                                }*@
                            <li>@Html.ActionLink("Add New Store", "Edit", "Store", new { Id = 0 }, null)</li>

                            <li>@Html.ActionLink("View All Store", "Edit", "Promotion", new { Id = 0 }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Coupons Deals", "Index", "Promotion")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupons <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["IsAdmin"] != null)
                            {
                                <li>@Html.ActionLink("Add New Coupon", "Edit", "Coupon", new { Id = 0, type = "Coupon" }, null)</li>
                            }
                            <li class="mega-dropdown-menu"><a href="#">Action</a></li>
                            <li class="mega-dropdown-menu"><a href="#">Another action</a></li>
                            <li class="mega-dropdown-menu"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-form" role="search">
                    <div class="input-group">
                        @Html.TextBox("Category")
                    </div>
                    <div style="width: 10%; float: right;">
                        @if (Session["UName"] != null)
                        {
                            <strong>Hi! @Html.Encode(Session["UName"])</strong>
                            @Html.ActionLink("Sign Out", "Logout", "User")

                        }
                        else
                        {
                            @Html.ActionLink("Register", "Register", "User", null, new { style = "color: #777; text-shadow: 0 1px 0 rgba(255, 255, 255, .25);" })
                            <span> | </span>
                            @Html.ActionLink("Sign In", "Login", "User", null, new { style = "color: #777; text-shadow: 0 1px 0 rgba(255, 255, 255, .25);" })
                        }
                    </div>

                </div>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>