@using Kendo.Mvc.UI;
@model Marketing.Business.Models.Promotion

@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendo/kendo.blueopal.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<style>
    .field-validation-error {
        color: red;
    }

    .navigation {
        height: 100px;
    }
</style>

<div class="col-md-10" style="border:none;">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Coupons, new { @class = "form-control", placeholder = "Coupons" })
            @Html.ValidationMessageFor(model => model.Coupons)
        </div>
        
        <div class="form-group">
            @(Html.Kendo().Upload()
                .Name("attachments")
                .Async(async => async
                    .Save("SaveImage", "Category")
                    .Remove("RemoveImage", "Category")
                    .AutoUpload(true)
                )
                .Events(events => events
                    .Success("onSuccess")
                    )
                .Multiple(false)
            )
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.IsActive)
            Is Active
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" class="btn btn-warning" value="Create" />
        </p>
    }
    <div>
        @Html.ActionLink("Back To Categories", "Categories", "Home")
    </div>
</div>
<script>
    function onSuccess(e) {
        document.getElementById('ImagePath').value = e.files[0].name;
    }
</script>